.color1 {
  color: #092d30;
}

.color2 {
  color: #185a70;
}

.color3 {
  color: #2084a1;
}

.color4 {
  color: #6fbfc8;
}

.color5 {
  color: #dbeded;
}

header {
  background: linear-gradient(to right, #185a70, #6fbfc8);
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
}

header h1 {
  margin: 0;
  font-size: 24px;
}

header .start-button {
  background-color: #185a70;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

header .start-button:hover {
  background-color: #2084a1;
}

header .start-button:disabled {
  background-color: #bbd0d6b0;
}

.ModalOverlay {
  background-color: rgba(0, 0, 0, 0.0);
}

.ModalContent {
  position: absolute;
  top: 100px;
  right: 20px;
  width: 20%;
  min-width: 280px;
  height: fit-content;
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


.ModalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.ModalShipName {
  margin-bottom: 3px;
  text-align: center;
  font-size: x-large;
  font-weight: 600;
  flex-grow: 1;
  text-align: center;
  margin-left: 20px;
}

.ModalHeaderCloseButton {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  width: 20px;
  height: 20px;
}

.ModalHeaderCloseButton::before,
.ModalHeaderCloseButton::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 2px;
  background-color: black;
}

.ModalHeaderCloseButton::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.ModalHeaderCloseButton::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.ModalShipInfo {
  color: #092d30;
  display: flex;
  justify-content: space-between;
}

.ModalRouteButton {
  background-color: #185a70;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  border-color: #185a70;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

.ModalRouteButton:hover {
  background-color: #2084a1;
  border-color: #2084a1
}